[Unit]
Description=BirdEarAnalyser lydavspiller DB API
After=network.target

[Service]
User=e33admin
WorkingDirectory=/home/e33admin/apps/BirdMicAnalyser/lydavspiller
ExecStart=/home/e33admin/apps/BirdMicAnalyser/.env/bin/uvicorn birdear-lydavspiller:app --host 0.0.0.0 --port 8002
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
